itsdangerous==2.0
transformers==4.17.0
Flask==2.0.3
requests==2.23.0
gunicorn
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
numpy~=1.21.6
scikit-learn~=1.0.2
torch==1.11.0