body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: lighter;
}

.main h1 {
  font-weight: lighter;
  padding: 20px;
  margin: 0 auto;
}

.main p {
  margin: 0 auto;
  padding: 20px;
}

.main input {
  text-align: center;
  display: block;
  width: 320px;
  height: 40px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255);
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.main textarea {
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-width: 1px;
  border: 0.5px solid #cfd4da;
  width: 340px;
}

.result {
  text-align: inherit;
  display: block;
  width: 320px;
  height: 40px;
  padding: 10px;
  background: rgba(214, 234, 248, 0.5);
  border: 10px solid rgba(255, 255, 255);
  border-radius: 15px;
  margin: 0 auto;
  animation-duration: 1s;
}

.main #submit-btn {
  background: rgb(41, 204, 158);
  border: none;
  width: 340px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 5px;
}

.inputWrapper {
  text-align: center;
}

.heart {
  color: #EC1625;
}
